<h1 style="text-align: center;">Aplikacja na zaliczenie przedmiotu</h1>
<p style="text-align: center;">Aplikacja&nbsp; służy do przypisywania płci do imienia.</p>
<p style="text-align: center;">Do rozpoznawania płci z imion wykożystana została wielowarstwowa sieć neuronowa.&nbsp;</p>
<p style="text-align: center;">Plik kt&oacute;ry posłużył do nauki sieci&nbsp;<a href="localhost:5000/imiona_polskie.csv" target="_blank" rel="noopener">imiona polskie</a></p>
<p style="text-align: center;">Dane przed rozpoczęciem nauki zostały podzielone na dane uczące (80%), oraz testowe (20%), kt&oacute;re służą do kontolowania sieci czy nie występuje zjawisko przeuczenia.</p>
<p style="text-align: center;">Aby uruchomić aplikację należy wejść w <a href="localhost:5000/start" target="_blank" rel="noopener">Link</a>&nbsp;(ewentualnie potem odświeżyć strone) po około 20-sekundach powinien pojewić się wykres skutecznośći uczenia.</p>